<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wahshoon.ism.service.ServiceMapper">
    <resultMap id="ServiceResultMap" type="com.wahshoon.ism.service.Service">
        <result property="id" column="s_id" />
        <result property="descriptionChinese" column="s_description_chinese" />
        <result property="descriptionEnglish" column="s_description_english" />
        <result property="price" column="s_price" />
        <result property="differentPrice" column="s_is_different_price" />
        <result property="calculationType" column="s_calculation_type" />
    </resultMap>

    <resultMap id="ServiceVOResultMap" type="com.wahshoon.ism.service.ServiceVO">
        <result property="id" column="s_id" />
        <result property="descriptionChinese" column="s_description_chinese" />
        <result property="descriptionEnglish" column="s_description_english" />
        <result property="price" column="s_price" />
        <result property="differentPrice" column="s_is_different_price" />
        <result property="calculationType" column="s_calculation_type" />
        <collection
            property="serviceDiffPrices"
            resultMap="ServiceDiffPriceResultMap"
            notNullColumn="sdp_service_id"
        />
    </resultMap>

    <resultMap id="ServiceVOResultMapForCollection" type="com.wahshoon.ism.service.ServiceVO">
        <result property="id" column="s_id" />
        <result property="descriptionChinese" column="s_description_chinese" />
        <result property="descriptionEnglish" column="s_description_english" />
        <result property="price" column="s_price" />
        <result property="differentPrice" column="s_is_different_price" />
        <result property="calculationType" column="s_calculation_type" />
        <!-- left is in select statement -->
        <collection
            property="serviceDiffPrices"
            column="{serviceId=s_id}"
            select="getServiceDiffPriceList"
        />
    </resultMap>


    <resultMap id="ServiceDiffPriceResultMap" type="com.wahshoon.ism.service.ServiceDiffPrice">
        <result property="serviceId" column="sdp_service_id" />
        <result property="height" column="sdp_height" />
        <result property="price" column="sdp_price" />
    </resultMap>

    <sql id="serviceColumns">
        ${alias}id as s_id,
        ${alias}description_chinese as s_description_chinese,
        ${alias}description_english as s_description_english,
        ${alias}price as s_price,
        ${alias}is_different_price as s_is_different_price,
        ${alias}calculation_type as s_calculation_type
    </sql>

    <sql id="serviceVOColumns">
        <trim suffix=",">
            <include refid="serviceColumns">
                <property name="alias" value="${serviceAlias}"/>
            </include>
        </trim>
        <include refid="serviceDiffPriceColumns">
            <property name="alias" value="${serviceDiffPriceAlias}"/>
        </include>
    </sql>

    <select id="getAllServiceVOs" resultMap="ServiceVOResultMap">
        SELECT
            <include refid="serviceVOColumns">
                <property name="serviceAlias" value="s."/>
                <property name="serviceDiffPriceAlias" value="sdp."/>
            </include>
        <![CDATA[
        FROM
            service AS s
        LEFT JOIN
            service_diff_price AS sdp ON s.id = sdp.service_id
        ]]>
    </select>

    <select id="getServiceVOForDatatable" resultMap="ServiceVOResultMapForCollection">
        SELECT
            <include refid="serviceColumns">
                <property name="alias" value=""/>
            </include>
        FROM
            service
        <if test="sortBy != null and sortBy.size() > 0" >
            ORDER BY
            <foreach collection="sortBy" index="key" item="sort" separator=",">
                ${key} ${sort.value}
            </foreach>
        </if>
        <if test="startRow != null and limit != null">
            LIMIT #{startRow}, #{limit}
        </if>
    </select>

    <!--Service Diff Price-->
    <sql id="serviceDiffPriceColumns">
        ${alias}service_id as sdp_service_id,
        ${alias}height as sdp_height,
        ${alias}price as sdp_price
    </sql>

    <select id="getServiceDiffPriceList" resultMap="ServiceDiffPriceResultMap">
        SELECT
            <include refid="serviceDiffPriceColumns">
                <property name="alias" value=""/>
            </include>
        FROM
            service_diff_price
        WHERE
            service_id = #{serviceId}
    </select>
</mapper>